body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 700px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
  font-size: 1em;
}

#transaction-list {
  list-style: none;
  padding: 0;
}

#transaction-list li {
  padding: 15px;
}

#transaction-list li span {
  padding: 10px;
  border-radius: 6px;
  margin-right: 20px;
}

.expense {
  background-color: rgb(255, 202, 202);
  color: rgb(109, 5, 5);
}
.income {
  background-color: rgb(202, 255, 203);
  color: rgb(2, 35, 2);
}
