/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* General Form Styles */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

input,
select,
button {
  padding: 10px;
  font-size: 1em;
  flex: 1;
  max-width: 300px;
  min-width: 150px;
}

/* Header */
.header {
  padding: 40px;
  text-align: center;
  background-color: #023e7d;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: white;
  padding: 5px;
  font-size: larger;
}
/* Layout Container */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* Sidebar/Left Column */
.side {
  flex: 1;
  min-width: 350px;
  max-width: 500px;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main Content */
.main {
  flex: 2;
  min-width: 300px;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
}

/* Transaction List */
#transaction-list {
  list-style: none;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set a fixed maximum height */
  scrollbar-width: thin; /* Optional: For thin scrollbar (Firefox) */
}

#transaction-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#transaction-list li span {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
}

#transaction-list li .close {
  background-color: #fe3d3d;
  color: white;
  font-size: 10px;
  transform: translateX(20px);
  cursor: pointer;
}

.expense {
  background-color: #ffcccc;
  color: #a80000;
}

.income {
  background-color: #ccffcc;
  color: #006600;
}

/* Chart */
#myChart {
  width: 100%;
  max-width: 800px;
  background-color: #ddd;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #ddd;
}

/* Responsive Design */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
    padding: 10px;
  }

  .side,
  .main {
    min-width: 100%;
    max-width: 100%;
  }

  input,
  select,
  button {
    width: 100%;
  }
}
